/*
 * Globals
 */

/* Links */

a,
a:focus,
a:hover {
    color: #000;
}
/* Custom default button */

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}
/*
 * Base structure
 */
html {
    height: 100%;
}
html,
body {
    background-color: #fff;
}
body {
    min-height: 100%;
    text-align: center;
    /*text-shadow: 0 1px 3px rgba(0, 0, 0, .5);*/
}
/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100vh;
    /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    /*display: table-cell;*/
    /*vertical-align: middle;*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.cover-container {
    width: 100%;
    /*padding-top: 80px;*/
    margin-right: auto;
    margin-left: auto;
  flex:1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.section{
  flex: 1;
  display: flex;
  align-content: center;
}
/* Padding for spacing */

.inner {
    padding: 10px;
}
/*
 * Header
 */

.masthead {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
}

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}
.masthead-nav {
    text-align: left;
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.masthead-nav > li {
    display: inline-block;
  margin-right: 20px;
}
/*.masthead-nav > li + li {*/
/*    margin-right: 20px;*/
/*}*/
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    /* IE8 proofing */
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #000;
}
@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: none;
    }
    .inner {
        padding: 30px 10px;
    }
}
/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}
/*
 * Footer
 */

.mastfoot {
    color: #999;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}
/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        /*position: absolute;*/
        top: 0;
        left: 0;
        width: 100% !important;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}
@media (min-width: 1240px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 1230px;
    }
}
.section ul {
    list-style: none;
}
/* custom */

html,
body {
    overflow-x: hidden;
}
input {
    color: black;
}
.mastfoot {
    position: relative;
}
.select2-container-multi .select2-choices .select2-search-field input {
    font-family: inherit;
    padding: 5px 12px;
}
.select2-container {
    margin: 0 auto !important;
}
.list {
  width: 100%;
  padding-left: 0;
  margin: 20px 0;
}
.list::after {
  content: "";
  clear: both;
  display: table;
}
.list li {
  float: left;
  padding: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  margin-right: 30px;
  position: relative;
}
.list li:nth-child(6n) {
  margin-right: 0;
}
.list li * {
  word-break: break-word;
  word-wrap: break-word;
}
.list li a {
  text-decoration: none;
}
.list li p {
  color: gray;
}

.list li .item {
  border-radius: 5px;
  overflow: hidden;
  color: black;
  text-shadow: none;
}
.list li .TopBg {
  width: 174px;
  height: 174px;
  border-radius: 10px;
  border: 1px solid rgba(150, 190, 236, 1);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/1.png') no-repeat center;
  background-size: auto 100%;
}
.list li:nth-child(5n+1) .TopBg {
  background: url('/1.png') no-repeat center;
  background-size: auto 100%;
}
.list li:nth-child(5n+2) .TopBg {
  background: url('/2.png') no-repeat center;
  background-size: auto 100%;
}
.list li:nth-child(5n+3) .TopBg {
  background: url('/3.png') no-repeat center;
  background-size: auto 100%;
}
.list li:nth-child(5n+4) .TopBg {
  background: url('/4.png') no-repeat center;
  background-size: auto 100%;
}
.list li:nth-child(5n) .TopBg {
  background: url('/5.png') no-repeat center;
  background-size: auto 100%;
}
/*.list li .TopBg img{*/
/*  max-width:100%;*/
/*  max-height: 100%;*/
/*}*/
.list li .item .text {
  font-size: 20px;
  /*display: table-cell;*/
  /*vertical-align: middle;*/
}
/*.list li .item .content .tags {*/
/*    line-height: 25px;*/
/*}*/
/*.list li .item .content .tags span {*/
/*    display: inline-block;*/
/*    line-height: 15px;*/
/*}*/
.form-inline {
    padding: 0 10px;
}
.sort.asc {
    text-decoration: overline;
}
.sort.desc {
    text-decoration: underline;
}
.ui-avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}
.ui-avatar.circle {
    border-radius: 50%;
}
.ui-history-close {
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 16px;
    background: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);

}
.ui-history-close:hover {
    opacity: 1;
}
.ui-history-pin {
    position: absolute;
    left: 14px;
    top: 15px;
    font-size: 16px;
    opacity: 0.2;
	transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
}
.item:hover .ui-history-pin:hover {
    opacity: 1;
}
.item .ui-history-pin.active {
	opacity: 1;
    color: #d43f3a;
}
.ui-or {
    margin: 5px;
}
.ui-use-tags {
    min-width: 172px;
    max-width: 344px;
}

.modal-title {
    text-align: left;
    color: black;
}
.modal-body {
    color: black;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.social-foot {
    line-height: 30px;
}
.social-foot > * {
    line-height: 20px;
    vertical-align: middle !important;
    display: inline-block !important;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    color: white;
}

.screenshot {
    margin: 30px auto;
    width: 100%;
    border-radius: 3px;
}

select {
    color: black;
}

@media (max-width: 768px) {
    span.ui-or {
        display: block;
    }
    .ui-use-tags {
        max-width: 100%;
    }
}

.btn-mattermost {
    background-color: #2179ec;
    border-color: rgba(0,0,0,0.2);
    color: #fff;
}

.btn-gitlab {
    background-color: #e35431;
    border-color: rgba(0,0,0,0.2);
    color: #fff;
}

.btn-mattermost:hover, .btn-mattermost:active {
    background-color: #105fc6;
    border-color: rgba(0,0,0,0.2);
    color: #fff;
}

.btn-gitlab:hover, .btn-gitlab:active {
    background-color: #c23b1a;
    border-color: rgba(0,0,0,0.2);
    color: #fff;
}

/* add btn-login-method replaced of btn-social, to avoid ad block delete the login button */
.btn-login-method {
  padding-left: 61px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-login-method.btn-lg :first-child {
  line-height:45px;
  width:45px;
  font-size:1.8em;
}
.btn-login-method>:first-child {position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}

a.btn.btn-login-method > i.oauth-icon {
    display: inline-flex;
    height: 45px;
    width: 45px;
    line-height: inherit;
    padding: 6px;
}

a.btn.btn-login-method > i.oauth-icon > img {
    width: 100%;
    height: 100%;
    line-height: inherit;
}

.mainContent{
  width: 1250px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Helvetica";
  min-height: 100vh;
  box-sizing: border-box;
}
.header{
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.bodyBox{
  flex-grow: 1;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.lft{
  display: flex;
  align-items: center;
}
.lft span{
  display: inline-block;
  line-height: 88px;
  color: #000000;
  font-size: 34px;
  font-weight: 700;
}
.lft img{
  width: 88px;
}
.titleBox{
  /* Online Learning Plat */
  width: 640px;
  height: 269px;
  top: 245px;
  left: 100px;
  font-family: "Helvetica";
  color: #000000;
  font-weight: 700;
  font-size: 68px;
  text-align: left;
}
.btnRht{
  background: #FCAA23;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  padding: 10px 40px;
  border-radius: 50px;
  border: 0;
  margin-top: 20px;
}
.BtmLft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}
.lftBox{
  display: flex;
}
.BtmRht{
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
.btnBgBox{
  background: #FCAA23;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  padding: 15px 40px;
  border-radius: 50px;
  margin-top: 80px;
}
.ui-signout{
  display: flex;
  align-items: center;
}
.topBtn{
  background: #FCAA23;
  padding: 5px 20px;
  border-radius: 40px;
  font-weight: 700;
}

.sec2{
  flex-direction: column;
}
